@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #EEF8F3;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(37, 60, 149, 1);
  padding: 20px 70px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 200px;
}

.logo img{
  display: block;
  object-fit: cover;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px 20px; 
  font-weight: 500;
}

nav ul li a:hover{
  background-color: #fff;
  color: rgba(37, 60, 149, 1);
  border-radius: 5px;
  transition: all 0.3s ease 0.1s;
}


main{
  padding: 0 100px;
}

.hero-section{
  margin: 70px 0;
  text-align: center;
  padding: 0 100px;
}

.hero-section h2{
  color: rgb(27, 43, 110);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-section p{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.tap-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  width: 100%;
  padding: 10px 0;
  background-color: #d3e7ff;
  border-radius: 10px;
}


.tap-button li{
  list-style: none;
}

.tap-button button{
  padding: 10px 50px;
  border: none;
  color: #2A70C7;
  font-weight: 700;
  transition: all 0.3s ease 0.1s;
  background-color: transparent;
}


.tap-button button:hover{
  background-color: rgb(29, 57, 171);
  color: #fff;
  border-radius: 10px;

}

#active-web{
  background-color: rgb(29, 57, 171);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: auto auto 50px auto;
}

.card {
  width : calc((100% - (3*20px)) / 4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.card img{
  display: block;
  width: 100%;
  height: 180px;
  object-fit:cover;
  border-radius: 15px 15px 0 0;
}

.label{
  height: 100%;
  padding:  10px 20px;
}

.top-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
} 

#all-level{
  color:  #A087D3;
  background-color: #F2EEF9;
  padding: 5px 10px;
  border-radius: 10px;
}

.begginer{
  color:  #72C49D;
  background-color: #d9f8e8;
  padding: 5px 10px;
  border-radius: 10px;
}

.title-label{
  padding-top: 10px;
}

.title-label h3{
  font-size: 20px;
  margin-bottom: 10px;
  color: #0F172A;
}

.title-label small{
  color: #808080;
}

.rating{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.detail{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin-top: 10px;
}

footer{
  height: 150px;
  background-color: rgba(37, 60, 149, 1);
  padding: 0 70px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(37, 60, 149, 1);
  padding: 20px 0;
  position: sticky;
  top: 0;
}

footer hr{
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  border: none;
  margin: 10px auto;
}

